* {
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	width: auto;
	height: 60px;
	background-color: steelblue;
}

nav div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	margin: 0 auto;
	padding: 0 10px;
}

nav div:nth-child(2) {
	height: 100%;
	background-color: black;
}

nav div:nth-child(4) {
	display: none;
}
 
nav h1 {
	width: 100%;
	color: white;
	text-align: center;
}

nav div ul {
	display: flex;
}

nav div li {
	list-style-type: none;
	margin-left: 10px;
}

@media screen and (max-width: 700px) {
	nav div:nth-child(odd) {
		display: none;
	}

	nav div:nth-child(4) {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	nav div:nth-child(4) figure {
		cursor: pointer;
		width: 20px;
		height: 3px;
		background-color: white;
		margin: 2px 0;
	}
}